.about_shelter{
    display: flex;
    justify-content: space-around;
    padding: 80px 10% 0 10%;
    padding-bottom: 100px; 
}
.about_shelter h3{
   color: #545454; 
   font-size: 35px;
   width: 330px;
   padding-bottom: 25px;
}
.about_shelter p{
    color: #4C4C4C;
    font-size: 15px;
    width: 100%;
    padding-bottom: 25px;
}
.about{

    width: 570PX;
}
@media screen and (max-width: 780px){
    .about_shelter{
        flex-direction: column-reverse;
    }
    .about{
        margin: 0 auto;
        width: 70%;
    }
    .about_shelter img{
        margin: 0 auto;
        height: 410px;
        width: 300px;
    }
}
@media screen and (max-width: 320px){
    .about_shelter img{
        height: 350px;
        width: 260px;
    }
    .about h3{
        text-align: center ;
        font-size: 25px;
    }
}