.donation .card::before{
    content:  url('/images/donation/credit-card.svg');
    position: relative;
    top: 5px;
    right: 10px;
}
.donation .card{
    width: 350px;
    background: #F1CDB3;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #545454;
}
.donation{
    display: flex;
    justify-content: center;
}
.donation .text{
    width: 380px;
    font-size: 12px;
    color: #B2B2B2;
}
.donation h3{
    padding-bottom: 20px;
    font-size: 35px;
    color: #545454;
}
.donation .bank{
    padding-bottom: 30px;
    color: #545454;
}
.donation img{
    padding-right: 30px;
    padding-bottom: 110px;
}
@media screen and (max-width: 780px){
    .donation{
        flex-direction: column-reverse;
    }
}
